/* LogInForm.module.css */

/* Base styles for mobile-first approach */
.logInForm {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background: var(--white);
  border-radius: 10px;
  box-shadow: var(--shadow-strong);
}

.formGroup {
  margin-bottom: 15px;
  width: 100%;
}

.formGroup label {
  display: block;
  margin-bottom: 5px;
}

.formGroup input {
  width: 100%;
  padding: 8px;
  border: 1px solid var(--gray);
  border-radius: 5px;
}

.submitButton {
  padding: 10px 20px;
  background: var(--primary);
  color: var(--white);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.submitButton:hover {
  background: var(--primary-dark);
}

/* Styles for tablets and larger screens */

/* Styles for desktops and larger screens */
