/* LogInButton.module.css */

/* Base styles for mobile-first approach */
.buttonLogIn {
  background: linear-gradient(var(--blue-gradient));
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 5px;
  transition: background 0.5s ease, transform 0.5s ease;
}

.buttonLogIn:hover,
.buttonLogIn:focus {
  background: linear-gradient(var(--blue-gradient-hover));
  transform: scale(1.05);
}

/* Styles for tablets and larger screens */

/* Styles for desktops and larger screens */
