/* LogInPage.module.css */

/* Base styles for mobile-first approach */
.logInPageSection {
  height: 100vh;
}

.logInPageContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 16px;
}

/* Styles for tablets and larger screens */

/* Styles for desktops and larger screens */
@media screen and (min-width: 1280px) {
  .logInPageSection {
    overflow-y: hidden;
  }
  .logInPageContainer {
    flex-direction: row;
  }
}
