/* HomePage.module.css */

/* Base styles for mobile-first approach */
.homeSection {
  height: 100vh;
}

.homeContainer {
  display: flex;
  flex-direction: column-reverse;
  height: 100%;
  gap: 16px;
}

/* Styles for tablets and larger screens */

/* Styles for desktops and larger screens */
@media screen and (min-width: 1280px) {
  .homeContainer {
    flex-direction: row;
  }
}
