/* HomePage.module.css */

/* Base styles for mobile-first approach */
.homeSection {
  height: 100vh;
}

.homeContainer {
  display: flex;
  flex-direction: column-reverse;
  height: 100%;
  gap: 16px;
}

.firstSide {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('https://images.unsplash.com/photo-1605122748783-452116f401b1?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8N3x8Zm9nZ3klMjByb2FkfGVufDB8fDB8fHww');
  background-size: cover;
  background-position: center;
  color: var(--white);
  padding: 20px;
  box-shadow: var(--shadow-strong);
}

.quoteBox {
  font-family: 'Bebas Neue', serif;
  display: flex;
  flex-direction: column;
  background: var(--blur);
  color: var(--black);
  padding: 16px;
  border-radius: 10px;
  text-align: center;
  transform: scale(1.2);
  user-select: none;
  font-size: 1.5rem;
  font-weight: bold;
  width: 100%;
  max-width: 200px;
  box-shadow: var(--shadow-light);
}

.textBlack {
  background: var(--black);
  color: var(--white);
  padding: 5px;
}

.textUnderline {
  text-decoration: underline;
}

.textUnderlineLarge {
  font-size: 2.5rem;
  text-decoration: underline;
}

.secondSide {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  font-size: 2rem;
  font-weight: bold;
  background: linear-gradient(70deg, #1976d2 15%, #21CBF3 90%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  margin-bottom: 8px;
}

.subtitle {
  font-size: 1rem;
  color: gray;
  text-align: center;
}

.buttonContainer {
  margin-top: 20px;
  display: flex;
  gap: 10px;
}

.buttonLogIn {
  background: linear-gradient(70deg, #1976d2 15%, #21CBF3 90%);
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 5px;
  transition: background 0.5s ease, transform 0.5s ease;
}

.buttonLogIn:hover,
.buttonLogIn:focus {
  background: linear-gradient(70deg, #1565c0 15%, #1E88E5 90%);
  transform: scale(1.05);
}

.buttonSignUp {
  background: transparent;
  color: #1976d2;
  border: 2px solid #1976d2;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 5px;
  transition: background 0.5s ease, color 0.5s ease, transform 0.5s ease;
}

.buttonSignUp:hover,
.buttonSignUp:focus {
  background: linear-gradient(70deg, #1976d2 15%, #21CBF3 90%);
  color: white;
  transform: scale(1.05);
}

/* Styles for tablets and larger screens */
@media (min-width: 768px) {

  .quoteBox {
    padding: 24px;
    font-size: 2rem;
    transform: scale(1.2);
    max-width: fit-content;
  }

  .title {
    font-size: 2.5rem;
    text-align: start;
  }

  .subtitle {
    font-size: 1.2rem;
  }
}

/* Styles for desktops and larger screens */
@media (min-width: 1280px) {
  .homeContainer {
    flex-direction: row;
  }

  .quoteBox {
    padding: 32px;
    font-size: 2.5rem;
    transform: scale(1.7);
  }

  .title {
    font-size: 3rem;
  }

  .subtitle {
    font-size: 1.5rem;
  }
}
